$color-prime: #FF9900;
$color-additional: #FF7549;
$color-background: #FFEEE1;
$color-title: #2F281E;
$color-text: #544837;
$color-tag: #F5F5F5;
$color-border: #D7D7D7;
$color-link: #1943EF;
$color-hovered: #BCD0E5;
$color-hamburger: #173A56;
$color-overlay: rgba(80, 80, 80, 0.4);
$color-light: #FFFFFF;
$color-placeholder: #C6C6C6;

$color-violent: #7752BE;
$color-orange: #FAB005;
$color-red: #F03E3D;
$color-blue: #4DADF7;

$content-width: 1196px;
$tablet-width: 768px;
$mobile-width: 414px;
$mobile-width-small: 320px;