@mixin font ($size, $height, $weight,$color, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin columns ($width) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  >* {
    flex-basis: $width;
  }
}